<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<!--<div class="product_detail" th:object="${item}">-->
<!--    <h4 th:text="${item.name}">상품명</h4>-->
<!--    <p th:text="${item.details}">제품 설명</p>-->
<!--    <p th:text="|가격 : ${item.price} 원|">가격</p>-->
<!--    <p th:text="|남은 수량 : ${item.stockQuantity} 개|">재고</p>-->
<!--</div>-->


</body>
</html>
