<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<div class="container" th:if="${results.size() > 0}">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>상품명</th> <th>상품수량</th> <th>상품가격</th> <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${results}">
                <td th:text="${result.itemName}"></td>
                <td th:text="${result.itemCount}"></td>
                <td th:text="${result.itemTotalPrice}"></td>

                <!--                주문 취소 버튼-->
<!--                <td>-->
<!--                    <a th:if="${result.orderStatus.name() == 'READY'}" href="#"-->
<!--                       th:href="'javascript:cancel('+${result.orderId}+')'"-->
<!--                       class="btn btn-danger">CANCEL</a>-->
<!--                </td>-->

            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h4 th:text="|총 금액 : ${cartTotalPrice}|">총 가격</h4>
        <form th:action="@{/cart/order}" method="post">
            <button type="submit" class="btn btn-primary">주문하기</button>
<!--            <a href="" class="btn btn-danger">CANCEL</a>-->
        </form>
    </div>


    <!--    <div th:replace="fragments/footer :: footer"/>-->
</div> <!-- /container -->

<div th:if="${results.size() == 0}">
    <h5>장바구니가 비었습니다.</h5>
</div>
<div>
    <button onclick="location.href='/items'">메뉴로 돌아가기</button>
</div>
</body>
<!--자바스크립트 취소 로직-->
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/cart/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>